* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.special__offers {
  background: var(--add-section-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 24px;
}
